# Assignment on Python for Data Science

### 1.Read the dataset to python environment.

## IRIS DATASET

In [8]:
import pandas as pd
data_set = pd.read_excel("iris.xls")
data_set

      SL   SW   PL   PW  Classification
0    5.1  3.5  1.4  0.2     Iris-setosa
1    4.9  3.0  1.4  0.2     Iris-setosa
2    4.7  3.2  1.3  0.2     Iris-setosa
3    4.6  3.1  1.5  0.2     Iris-setosa
4    5.0  3.6  1.4  0.2     Iris-setosa
..   ...  ...  ...  ...             ...
145  6.7  3.0  5.2  2.3  Iris-virginica
146  6.3  2.5  5.0  1.9  Iris-virginica
147  6.5  3.0  5.2  2.0  Iris-virginica
148  6.2  3.4  5.4  2.3  Iris-virginica
149  5.9  3.0  5.1  1.8  Iris-virginica

[150 rows x 5 columns]

In [9]:
data_set.head()

    SL   SW   PL   PW Classification
0  5.1  3.5  1.4  0.2    Iris-setosa
1  4.9  3.0  1.4  0.2    Iris-setosa
2  4.7  3.2  1.3  0.2    Iris-setosa
3  4.6  3.1  1.5  0.2    Iris-setosa
4  5.0  3.6  1.4  0.2    Iris-setosa

### 2.Display the columns in the dataset

In [10]:
data_set.columns

Index(['SL', 'SW', 'PL', 'PW', 'Classification'], dtype='object')

 ### To display the classification

##### Samples from each species

In [11]:
data_set['Classification'].value_counts()

Iris-versicolor    50
Iris-setosa        50
Iris-virginica     50
Name: Classification, dtype: int64

### 3.Mean of each column of the dataset

In [12]:
data_set.mean()

SL    5.843333
SW    3.054000
PL    3.758667
PW    1.198667
dtype: float64

### 4.Checking for the nullvalues present in the dataset

In [14]:
data_set.isnull()

        SL     SW     PL     PW  Classification
0    False  False  False  False           False
1    False  False  False  False           False
2    False  False  False  False           False
3    False  False  False  False           False
4    False  False  False  False           False
..     ...    ...    ...    ...             ...
145  False  False  False  False           False
146  False  False  False  False           False
147  False  False  False  False           False
148  False  False  False  False           False
149  False  False  False  False           False

[150 rows x 5 columns]

 ### 5.Visualizations from the dataset

In [ ]:
class_data = pd